---
layout: default
title: Politics - About - Economy
pagetitle: Economie
description: Pagina met info over economieverbeteringsmaatregelen die wij gaan nemen.
---
<h1 id="main">{{pagetitle}}</div>
<h3 id="main">{{description}}</h3>
<br>
<br>
<div class="textcontainer">
<ul>
    <li>Arbeidsongeschikten en mensen met een andere uitkering worden strenger gecontroleerd.</li>
    <li>Wegenbelasting gaat omlaag voor elektrische auto’s.</li>
    <li>Mensen met een uitkering krijgen minder geld om ze te stimuleren om te gaan werken.</li>
</ul>
</div>
<style>
body {
  background-color: rgb(0, 49, 0, 0.9) !important;
}
html{
    background-image: url("https://i.kym-cdn.com/entries/icons/original/000/029/959/Screen_Shot_2019-06-05_at_1.26.32_PM.jpg") !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1400px 700px;
}
</style>