---
layout: default
title: Politics - About - Safety
pagetitle: Veiligheid
description: Pagina met info over de veiligheidsmaatregelen die wij gaan nemen.
---
<br>
<h1 id="main">{{pagetitle}}</div>
<h3 id="main">{{description}}</h3>
<br>
<br>
<div class="textcontainer">
<ul>
    <li>Ambtenaren worden strenger gecontroleerd op corruptheid.</li>
    <li>Criminelen worden zwaarder gestraft. (Hoogste straf is de doodstraf en komt zelden voor)</li>
    <li>Er moet meer politie ingeschakeld worden op om criminaliteit te voorkomen.</li>
    <li>Wapenverkoop blijft verboden. (Ook zakmessen en kleine pistolen)</li>
    <li>Nucleaire handelingen zijn verboden. (en wordt streng gecontroleerd)</li>
    <li>Alle drugs in het land blijft verboden.</li>
    <li>Immigranten worden beter gecontroleerd op achtergrond.</li>
</ul>
</div>
<style>
body {
  background-color: rgb(0, 49, 0, 0.9) !important;
}
html{
    background-image: url("https://cdn.shopify.com/s/files/1/0460/0266/7680/files/Logo-removebg-preview.png?v=1598040972") !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1400px 400px;
}
</style>
