<footer>
    <p class="copyright">© GROUP TITLE 2015</p>
</footer>

<script type="text/javascript" src="/assets/main.js"></script>
<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
</body>
</html>
