---
layout: default
title: Praise - Bingus
description: Praise one of our lords, Bingus.
---
<h2 id="praisetitle">bingus</h2>
<h3 id="praisedesc">🙏🙏🙏 AAAAA PRAISE BINGUS 🙏🙏🙏</h2>
<img src="https://i.ytimg.com/vi/WYQkhhSRr4Y/hqdefault.jpg" id="bingusimg">
<h4 dir="rtl" id="praisefooter">بنجوس مش الله ربي الوحيد</h4>
