---
layout: default
title: Praise - Floppa
description: Praise one of our lords, Floppa.
---
<h2 id="praisetitle">floppa</h2>
<h3 id="praisedesc">🙏🙏🙏 WOOOO PRAISE FLOPPA 🙏🙏🙏</h2>
<img src="https://i.redd.it/j7ph0v33bqu41.jpg" id="floppaimg">
<h4 dir="rtl" id="praisefooter">FLOPPA الرجاء حفظني من هذا الجحيم</h4>
