---
layout: default
title: About
description: About BokoHalal
tags:
    - nav
navtitle: About
---
<h1 id="main">About</h1>
<p id="about">info info info boko info halal info info halal info boko info</p>
