---
layout: default
title: Members
description: All members of BokoHalal
tags:
- nav
navtitle: Members
---
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="mcard">
                                <div class="mcard-body text-center">
                                    <p><img class=" img-fluid" src="/img/valerios.png" alt="card image"></p>
                                    <h4 class="mcard-title">Valerios</h4>
                                    <p class="mcard-text">Big Man. Founder of BokoHalal.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="mcard">
                                <div class="mcard-body text-center mt-4">
                                    <h4 class="mcard-title">Valerios Sermantinis</h4>
                                    <p class="mcard-text">
                                        valerios long desc.
                                        big long boye.
                                        long desc here.
                                        long man.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://instagram.com/valerios077">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="mcard">
                                <div class="mcard-body text-center">
                                    <p><img class=" img-fluid" src="/img/mohammad.png" alt="card image"></p>
                                    <h4 class="mcard-title">Mohammad</h4>
                                    <p class="mcard-text">Friendly Neigborhood Bomber.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="mcard">
                                <div class="mcard-body text-center mt-4">
                                    <h4 class="mcard-title">Mohammad Al Jawabra</h4>
                                    <p class="mcard-text">
                                        mohammad long desc.
                                        big long boye.
                                        long desc here.
                                        long man.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://instagram.com/mohammadn_015">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="mcard">
                                <div class="mcard-body text-center">
                                    <p><img class=" img-fluid" src="/img/yusuf.png" alt="card image"></p>
                                    <h4 class="mcard-title">Yusuf T.</h4>
                                    <p class="mcard-text">Local Pilot. Suspect of 9/11 crash.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="mcard">
                                <div class="mcard-body text-center mt-4">
                                    <h4 class="mcard-title">Yusuf Tjadiwangsa</h4>
                                    <p class="mcard-text">
                                        yusuf long desc.
                                        big long boye.
                                        long desc here.
                                        long man.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://instagram.com/yusuf.sloth">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="mcard">
                                <div class="mcard-body text-center">
                                    <p><img class=" img-fluid" src="/img/adam.png" alt="card image"></p>
                                    <h4 class="mcard-title">Adam</h4>
                                    <p class="mcard-text">Sex Offender. Stay out of his way.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="mcard">
                                <div class="mcard-body text-center mt-4">
                                    <h4 class="mcard-title">Adam Boutmir</h4>
                                    <p class="mcard-text">
                                        adam long desc.
                                        big long boye.
                                        long desc here.
                                        long man.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://instagram.com/adam077_">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="mcard">
                                <div class="mcard-body text-center">
                                    <p><img class=" img-fluid" src="/img/theike.png" alt="card image"></p>
                                    <h4 class="mcard-title">Theike</h4>
                                    <p class="mcard-text">Programmer Man. Is very smart.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="mcard">
                                <div class="mcard-body text-center mt-4">
                                    <h4 class="mcard-title">Theike Geraads</h4>
                                    <p class="mcard-text">
                                        theike long desc.
                                        big long boye.
                                        long desc here.
                                        long man.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://github.com/thgeraads">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://twitter.com/Zeehondie_">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="mcard">
                                <div class="mcard-body text-center">
                                    <p><img class=" img-fluid" src="/img/keanu.png" alt="card image"></p>
                                    <h4 class="mcard-title">Keanu</h4>
                                    <p class="mcard-text">Programmer Man. Creator of website.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="mcard">
                                <div class="mcard-body text-center mt-4">
                                    <h4 class="mcard-title">Keanu Timmermans</h4>
                                    <p class="mcard-text">
                                        keanu long desc.
                                        big long boye.
                                        long desc here.
                                        long man.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://github.com/keanuplayz">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://twitter.com/KeanuRAR">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://instagram.com/KeanuPlayzYT">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="mcard">
                                <div class="mcard-body text-center">
                                    <p><img class=" img-fluid" src="/img//yusufd.png" alt="card image"></p>
                                    <h4 class="mcard-title">Yusuf D.</h4>
                                    <p class="mcard-text">Döner man. Sells and consumes döner.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="mcard">
                                <div class="mcard-body text-center mt-4">
                                    <h4 class="mcard-title">Yusuf Dönmez</h4>
                                    <p class="mcard-text">
                                        yusufd long desc.
                                        big long boye.
                                        long desc here.
                                        long man.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank"
                                                href="https://instagram.com/yusuf.blerick">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>