---
layout: default
title: Politics
description: BokoHalal Political Party
tags:
    - nav
navtitle: Politics
---
<div class="hero-image">
    <div class="hero-text">
        <h1>BokoHalal Political Party</h1>
        <p>Welcome to the home page of the BokoHalal Political Party!</p>
        <a class="button" href="/politics/about">More Info</a>
        <br>
        <sub>All politics related pages are in <strong>Dutch</strong>.</sub>
    </div>
</div>