---
layout: default
title: Praise
description: Praise our two true lords.
tags:
    - nav
navtitle: Praise
---

<div class="hero-image-praise">
    <div class="hero-text">
        <h1>Praise</h1>
        <p>Praise our two true lords.</p>
        <a class="button" href="/praise/bingus">Bingus</a>
        <a class="button" href="/praise/floppa">Floppa</a>
        <br>
        <sub>We do <strong>not</strong> tolerate any mean words spread about our lords.</sub>
    </div>
</div>
